auto_shap==0.1.1
bnlearn==0.7.8
gseapy==0.10.7
matplotlib==3.3.2
networkx==3.0
numpy==1.21.5
pandas==1.4.3
pydot==1.4.2
pyEDM==1.14.0.2
pymongo==3.11.4
scikit_learn==1.2.2
scipy==1.8.0
seaborn==0.11.2
shap==0.41.0
skccm==0.2.dev0
tqdm==4.62.3
